.gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
justify-content: center;
padding: 0;
}
.gallery li {
overflow: hidden;
padding: 10px;
border-radius: 8px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.gallery img {
width: 100%;
height: 100%;
object-fit: cover;
}
/* 중간 크기의 화면을 위한 스타일 */
@media (max-width: 1280px) {
    .gallery img {
      width: 100%;
      height: auto;
    }
  }

/* 작은 화면을 위한 스타일 */
@media (max-width: 1280px) {
.gallery {
    grid-template-columns: repeat(2, 1fr);; /* 한 열로 변경 */
    }
}
  
  /* 작은 화면을 위한 스타일 */
@media (max-width: 736px) {
.gallery {
    grid-template-columns: 1fr; /* 한 열로 변경 */
    }
}

a h3 {
margin-bottom: 0;
}
    a h3:hover {
    color: #cbcbcb !important; 
    }

.map-image > img {
  width: 33%;
  float: left;}
.map-content {
  width: 64%;
  margin-left: 1em;
  float:right;}
.map-content h1 {
  color: #3d4449;}
#main .inner {
  margin-top: 3em;
  padding: 0 6em 0.1em 6em ;
  margin: 0 auto;
  max-width: 110em; }
textarea {
  background: #ffffff;
  border-radius: 0.375em;
  border: none;
  border: solid 1px rgba(210, 215, 217, 0.75);
  color: inherit;
  display: block;
  outline: 0;
  padding: 1em;
  text-decoration: none;
  width: 50%; }
  textarea:focus {
    border-color: #3d4449;
    box-shadow: 0 0 0 1px #3d4449; }

