.gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
justify-content: center;
padding: 0;
}
.gallery li {
overflow: hidden;
padding: 10px;
border-radius: 8px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.gallery img {
width: 100%;
height: 100%;
object-fit: cover;
}
/* 중간 크기의 화면을 위한 스타일 */
@media (max-width: 1280px) {
    .gallery img {
      width: 100%;
      height: auto;
    }
  }

/* 작은 화면을 위한 스타일 */
@media (max-width: 1280px) {
.gallery {
    grid-template-columns: repeat(2, 1fr);; /* 한 열로 변경 */
    }
}
  
  /* 작은 화면을 위한 스타일 */
@media (max-width: 736px) {
.gallery {
    grid-template-columns: 1fr; /* 한 열로 변경 */
    }
}

a h3 {
margin-bottom: 0;
}
    a h3:hover {
    color: #cbcbcb !important; 
    }
